@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.div-motto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 120px;
}

.skin-img {
    width: auto;
    height: 450px;
}

